body{
 background-color:#0000cd;
}

header {
    width: 97.5vw;
    height: 305px;
    border: rgb(0, 238, 255);
    border-style: solid;
}   
nav {
    width: 300px;
    height: 300px;
    border: white;
    border-style: solid;
    margin-left: 718px;
}