body{
width: 93vw;
    height: 830px;
    border: rgb(119, 22, 22);
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 1700px;
    height:50px;
    border: rgb(124, 87, 18);
    border-style: solid;
    display: flex;
    justify-content: end;
    padding: 50px; 
    align-items: center; 
}

nav{
    width: 500px;
        height: 80px;
        border: rgb(131, 131, 14);
        border-style: solid;
       
}

main{
    width: 1800px;
        height: 500px;
        border: rgb(4, 116, 4);
        border-style: solid;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
}

section{
    width: 1100px;
        height: 300px;
        border: rgb(15, 15, 146);
        border-style: solid;
        display: flex;
        padding: 50px;
}



aside{
    width: 400px;
        height: 400px;
        border: rgb(119, 8, 119);
        border-style: solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

}

article{
    width: 300px;
        height: 80px;
        border: rgb(97, 163, 36);
        border-style: solid;
}

footer{
    width: 1800px;
        height: 80px;
        border: rgb(153, 17, 101);
        border-style: solid;
        margin-top: 2%;

}